<!DOCTYPE html>
<html>
<head>
	<title>Semi Restful Routes</title>
	<style type="text/css">
		label{display:block;margin:25px;}
	</style>
</head>
<body>
	<h1>Add a New Product</h1>
	<form action="create" method="post">
		<label>Name: <input type="text" name="name"></label>
		<label>Description: <input type="text" name="desc"></label>
		<label>Price: <input type="text" name="price"></label>
		<input type="submit" value="Create">
	</form>
	<div style="height:50px;"></div>
	<a href="/" style="font-size:24px;">Go Back</a>
</body>
</html>